body {
  font-family: 'Handlee';
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .postcard {
    background-color: #fff;
    border: none;
    padding: 70px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  .postcard-header {
    display: flex;
    color: rgb(0, 0, 200);
    margin-bottom: 20px;
  }

  .postcard-header h1{
    margin-top: 20%;
    font-family: cursive;
  } 
  
#DivCentro{
    display: flex;
    gap: 10%;
}

  .postcard-form {
    padding: 10px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
  }
  
  .form-group input {
    width: 100%;
    margin-top: 5px;
    font-family: cursive;
  }
  
  .postcard-form button {
    position: relative;
    background-color: rgb(0, 0, 200);
    color: #fff;
    padding: 10px;
    border: none;
    width: 40%;
    left: 30%;
    border-radius: 10px;
  }
  
  .footer {
    text-align: center;
    margin-top: 20px;
  }

  .form-group p{
    padding-bottom: 5%;
    margin: 0%;
    font-family: cursive;
  }

  #ImgUCR{
    height: 20%;
  }

  .form-group input{
    border: none;
    border-bottom:solid 2px rgb(71, 71, 71) ;
    font-size: 20px;
  }

  #form-contenedor1 {
    width: 100%;
  }

  #contenedor-bordeazul{
    border: solid 2px rgb(0, 0, 200);
    padding: 20px;
    border-radius: 6px;
  }